{% extends 'base.html.twig' %}


{% block body %}
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 pt-4 ">
    {% for product in products %}
        {{ component('product', {
            product: product
        }) }}
    {% endfor %}
    </div>
{% endblock %}