<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <script src="https://cdn.tailwindcss.com"></script>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="p-12">
        <div class="max-w-screen-lg border border-gray-300 shadow-lg m-auto p-6 ">
            <H1 class="text-xl font-black">Demo ux Twig components / Live components </H1>
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
